<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <style>
        .stats{
            font-size: 20pt;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        li{
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    =========
    1. Add a bug - done
    2. List the bugs - done
    3. Toggle the closed status of the bug - done
    4. Remove the closed bugs - done
    5. Display statistics - done
    6. Search for bugs - done
    7. Sort the bugs - done
    8. Improve the bug display - done
    9. Persist the bugs in the localStorage
            window.localStorage
                - key/value store
                - key and value should be strings
                - APIs
                    setItem(key, value)
                    getItem(key) //=> value
                    removeItem(key)
                    key(index) //=> key at index
                    clear()
                    length

                -Hint -> use angular.toJson() and angular.fromJson() to serialize and deserialize the bug objects respectively

    10. Display 'createdAt' attribute
    11. Persist the bugs in the server
    Assignment
    12. Categorize the bugs (Project, Severity)
    -->
    <script src="scripts/vendor/angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

       /* bugTrackerApp.value("Bug", function Bug(defaults){
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed || false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            };
        });*/

        bugTrackerApp.value("defaultBugName", "[Default Bug]")

        bugTrackerApp.factory('Bug', function (defaultBugName){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.name = defaults.name || defaultBugName;
                this.isClosed = defaults.isClosed || false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });

        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.bugs = [
                new Bug({name : 'Data validation error', isClosed : true}),
                new Bug({name : 'Server communication failure', isClosed : false}),
                new Bug({name : 'Object reference not set to an instance of an object', isClosed : false}),
                new Bug({name : 'This is a rather long bug name to demonstrate how the display of a bug bug title can be bad', isClosed : false}),
            ];
            $scope.newBugName = '';
            $scope.addNew = function(){
                var newBug = new Bug({
                    name : $scope.newBugName,
                    isClosed : false
                });
                $scope.bugs.push(newBug);
                $scope.newBugName = '';
            };
            $scope.toggle = function(bug){
                bug.toggle();
            };
            $scope.removeClosed = function(){
                for(var i= $scope.bugs.length -1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed)
                        $scope.bugs.splice(i,1);
                }
            };
        });

        bugTrackerApp.filter('closedCount', function(){
            return function(bugs){
                return bugs.reduce(function(result, bug){
                    return bug.isClosed ? ++result : result;
                },0);
            }
        });

        bugTrackerApp.value("defaultTrimLength", 30);

        bugTrackerApp.filter("trimText", function(defaultTrimLength){
            return function(data, trimLength){
                trimLength = trimLength || defaultTrimLength;
                return data.length < trimLength ? data : data.substr(0,trimLength) + '...';
            };
        });


    </script>
</head>
<body ng-app="bugTrackerApp">
    <div class="container" ng-controller="bugsController">
        <h1>Bug Tracker</h1>
        <div class="row">
            <div class="six columns stats">
                <span class="closed">{{ bugs | closedCount }}</span>
                <span> / </span>
                <span>{{bugs.length}}</span>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>Search :</legend>
                <span>Name :</span>
                <input type="text" ng-model="searchBug.name">
                <span>Is Closed ? :</span>
                <input type="checkbox" ng-model="searchBug.isClosed">
                <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <legend>Sort :</legend>
                <span>By :</span>
                <input type="text" ng-model="sortBugBy">
                <span>Descending ? :</span>
                <input type="checkbox" ng-model="sortBugOrder">
            </fieldset>
        </div>
        <div class="row">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" class="button-primary" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
               <li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBugBy:sortBugOrder)"
                   ng-click="toggle(bug)"
                   ng-class="{closed : bug.isClosed}">
                    {{bug.name | trimText:20}}
                </li>
            </ol>
        </div>
    </div>

</body>
</html>
