<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <style>
        .stats{
            font-size: 20pt;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        li{
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    =========
    1. Add a bug - done
    2. List the bugs - done
    3. Toggle the closed status of the bug - done
    4. Remove the closed bugs - home work
    5. Display statistics - home work
    6. Search for bugs
    7. Sort the bugs
    8. Improve the bug display
    9. Persist the bugs in the localStorage
    10. Display 'createdAt' attribute
    11. Persist the bugs in the server
    Assignment
    12. Categorize the bugs (Project, Severity)
    -->
    <script src="scripts/vendor/angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);
        bugTrackerApp.controller("bugsController", function($scope){
            $scope.bugs = [];
            $scope.newBugName = '';
            $scope.addNew = function(){
                var newBug = {
                    name : $scope.newBugName,
                    isClosed : false
                };
                $scope.bugs.push(newBug);
                $scope.newBugName = '';
            };
            $scope.toggle = function(bug){
                bug.isClosed = !bug.isClosed;
            };

        })
    </script>
</head>
<body ng-app="bugTrackerApp">
    <div class="container" ng-controller="bugsController">
        <h1>Bug Tracker</h1>
        <div class="row">
            <div class="six columns stats">
                <span class="closed">2</span>
                <span> / </span>
                <span>{{bugs.length}}</span>
            </div>
        </div>
        <div class="row">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" class="button-primary" ng-click="addNew()">
            <input type="button" value="Remove Closed">
            <ol>
               <li ng-repeat="bug in bugs" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</li>
            </ol>
        </div>
    </div>

</body>
</html>
