<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <style>
        .stats{
            font-size: 20pt;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        li{
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    =========
    1. Add a bug - done
    2. List the bugs - done
    3. Toggle the closed status of the bug - done
    4. Remove the closed bugs - done
    5. Display statistics - done
    6. Search for bugs
    7. Sort the bugs
    8. Improve the bug display
    9. Persist the bugs in the localStorage
    10. Display 'createdAt' attribute
    11. Persist the bugs in the server
    Assignment
    12. Categorize the bugs (Project, Severity)
    -->
    <script src="scripts/vendor/angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);
        bugTrackerApp.controller("bugsController", function($scope){
            $scope.bugs = [
                {name : 'Data validation error', isClosed : true},
                {name : 'Server communication failure', isClosed : false},
                {name : 'Object reference not set to an instance of an object', isClosed : false}
            ];
            $scope.newBugName = '';
            $scope.addNew = function(){
                var newBug = {
                    name : $scope.newBugName,
                    isClosed : false
                };
                $scope.bugs.push(newBug);
                $scope.newBugName = '';
            };
            $scope.toggle = function(bug){
                bug.isClosed = !bug.isClosed;
            };
            $scope.removeClosed = function(){
                for(var i= $scope.bugs.length -1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed)
                        $scope.bugs.splice(i,1);
                }
            };
            //Create an array
           /* $scope.getClosedBugs = function(){
                var closedBugs = [];
                for(var i=0; i<$scope.bugs.length; i++)
                    if ($scope.bugs[i].isClosed)
                        closedBugs.push($scope.bugs[i])
                return closedBugs;
            };*/

            $scope.getClosedBugs = function(){
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                });
            }

            //Calculate the closed bug count


           /* $scope.getClosedCount = function(){
                var closedBugsCount = 0;
                for(var i=0; i<$scope.bugs.length; i++)
                    if ($scope.bugs[i].isClosed)
                        ++closedBugsCount;
                return closedBugsCount;
            };*/

            $scope.getClosedCount = function(){
                return $scope.bugs.reduce(function(result, bug){
                    return bug.isClosed ? ++result : result;
                },0);
            };

        })
    </script>
</head>
<body ng-app="bugTrackerApp">
    <div class="container" ng-controller="bugsController">
        <h1>Bug Tracker</h1>
        <div class="row">
            <div class="six columns stats">
                <span class="closed">{{getClosedCount()}}</span>
                <span> / </span>
                <span>{{bugs.length}}</span>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>Search :</legend>
                <span>Name :</span>
                <input type="text" ng-model="searchBugBy">
                <span>Is Closed ? :</span>
                <input type="checkbox" ng-model="searchBugStatus">
                <input type="button" value="Show All" ng-click="searchBugStatus = undefined">
            </fieldset>

        </div>
        <div class="row">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" class="button-primary" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
               <li ng-repeat="bug in (bugs | filter:{name : searchBugBy, isClosed : searchBugStatus})"
                   ng-click="toggle(bug)"
                   ng-class="{closed : bug.isClosed}">
                    {{bug.name}}
                </li>
            </ol>
        </div>
    </div>

</body>
</html>
