<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <script>
        function MathCalculator(){
            this.number1 = 0;
            this.number2 = 0;
            this.result = 0;
        }
        MathCalculator.prototype.add = function(){
            this.result = this.number1 + this.number2;
        };
        MathCalculator.prototype.subtract = function(){
            this.result = this.number1 - this.number2;
        };
        MathCalculator.prototype.multiply = function(){
            this.result = this.number1 * this.number2;
        };
        MathCalculator.prototype.divide = function(){
            this.result = this.number1 / this.number2;
        };

        var mathCalculatorApp = angular.module("mathCalculatorApp", []);
        mathCalculatorApp.controller("mathCalculatorController1",function($scope){
            $scope.calculator = new MathCalculator();
        });
        mathCalculatorApp.controller("mathCalculatorController2",function($scope){
            //fill in the blanks
        });
    </script>
</head>
<body ng-app="mathCalculatorApp">
    <div class="calculator1" ng-controller="mathCalculatorController1">
        <h1>Math Calculator - 1</h1>
        <hr>
        <input type="number" ng-model="calculator.number1">
        <input type="number" ng-model="calculator.number2">
        <div>
            <input type="button" value="Add" ng-click="calculator.add()">
            <input type="button" value="Subtract" ng-click="calculator.subtract()">
            <input type="button" value="Multiply" ng-click="calculator.multiply()">
            <input type="button" value="Divide" ng-click="calculator.divide()">
            <div id="divResult">{{calculator.result}}</div>
        </div>
    </div>
    <hr>
    <div class="calculator2" ng-controller="mathCalculatorController2">
        <h1>Math Calculator - 2</h1>
        <hr>
        <input type="number" ng-model="calculator.number1">
        <input type="number" ng-model="calculator.number2">
        <select >
            <option value="add">add</option>
            <option value="subtract">subtract</option>
            <option value="multiply">multiply</option>
            <option value="divide">divide</option>
        </select>
        <div>
           <input type="button" value="Calculate">
           <div id="divResult">{{calculator.result}}</div>
        </div>
    </div>
</body>
</html>
