<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <!--

    1. The buttons should be disabled if either number1 or number2 is zero or empty
    2. Display the result in red color if negative, otherwise in green color
    3. Modify the second calculator such that the result is displayed when the user chooses an option in the drop down list box

    -->
    <script>

        function MathCalculator(){
            this.number1 = 0;
            this.number2 = 0;
            this.result = 0;
        }
        MathCalculator.prototype.add = function(){
            this.result = this.number1 + this.number2;
        };
        MathCalculator.prototype.subtract = function(){
            this.result = this.number1 - this.number2;
        };
        MathCalculator.prototype.multiply = function(){
            this.result = this.number1 * this.number2;
        };
        MathCalculator.prototype.divide = function(){
            this.result = this.number1 / this.number2;
        };

        var mathCalculatorApp = angular.module("mathCalculatorApp", []);
        mathCalculatorApp.controller("mathCalculatorController1",function($scope){
            $scope.calculator = new MathCalculator();
            $scope.calculate = function(){
                $scope.calculator[$scope.userOperation]();
            };
        });

    </script>
</head>
<body ng-app="mathCalculatorApp" ng-controller="mathCalculatorController1">
    <div class="calculator1" >
        <h1>Math Calculator - 1</h1>
        <hr>
        <input type="number" ng-model="calculator.number1">
        <input type="number" ng-model="calculator.number2">
        <div>
            <input type="button" value="Add" ng-click="calculator.add()">
            <input type="button" value="Subtract" ng-click="calculator.subtract()">
            <input type="button" value="Multiply" ng-click="calculator.multiply()">
            <input type="button" value="Divide" ng-click="calculator.divide()">
            <div id="divResult">{{calculator.result}}</div>
        </div>
    </div>
    <hr>
    <div class="calculator2" >
        <h1>Math Calculator - 2</h1>
        <hr>
        <input type="number" ng-model="calculator.number1">
        <input type="number" ng-model="calculator.number2">
        <select ng-model="userOperation">
            <option value="add">add</option>
            <option value="subtract">subtract</option>
            <option value="multiply">multiply</option>
            <option value="divide">divide</option>
        </select>
        <div>
           <input type="button" value="Calculate" ng-click="calculate()">
           <div id="divResult">{{calculator.result}}</div>
        </div>
    </div>
</body>
</html>
